.main-container {
  padding: 0 10px;
  max-width: 1107px;
  margin: 0 auto 20px;
}

.head-container .news-category, section.author {
  font-family: 'Roboto', sans-serif;
}

.publi-desktop-sup, .publi-desktop-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  width: 100%;
}

.publi-desktop-box, .publi-desktop-bottom-box {
  max-width: 930px;
}

.publi-desktop-box img {
  width: 100%;
}

.head-container .news-category {
  font-size: 12px;
  font-weight: bold;
  color: var(--blue);
}

.section-news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section.author {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin: 20px 0;
}

section.author .author-info {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

section.author .published-at-box {
  display: flex;
  align-items: center;
  line-height: 0;
}

section.author .published-at {
  font-weight: 400;
  font-size: 12px;
}

section .sharing {
  display: flex;
  justify-content: space-between;
}

section.author .social-media {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.text-to-speech {
  margin-top: 10px;
  text-align: center;
  max-width: 765px;
}

.text-to-speech-mobile {
  margin-top: 10px;;
  text-align: center;
}

.text-to-speech-mobile img {
  width: 100%;
}

.text-to-speech img {
  width: 100%;
}

article p {
  line-height: 34px;
  color: #333333;
}

article h3 {
  font-size: 16px;
  line-height: 34px;
}

article figure figcaption {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

article figure figcaption span {
  display: block;
  font-size: 12px;
  line-height: 22px;
  color: #777777;
  margin-top: 3px;
}

article figure figcaption p {
  margin: 0;
}

.figura-cam {
  width: 20px;
  padding: 0 10px 0 0;
}

article figure img {
  width: 100%;
}

article footer {
  text-align: center;
}

article footer p {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 -10px 0;
}

article footer .separator-footer {
  background-color: red;
}

article footer span {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin: 5px 0;
  display: block;
}

.read-more-section {
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: -5px;
  padding: 0;
}

.read-more-section p {
  font-size: 20px;
  margin: 0;
}

.read-more-section-all-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 324px;
}

.read-more-section-box {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.read-more-info {
  padding-left: 10px;
}

.read-more-info-01 {
  font-family: 'Roboto', sans-serif;
  color: #666666;
}
.read-more-info-02 {
  margin: 5px 0 0 3px;
}
