:root {
  --blue: #004071;
  --white: #FFFFFF;
  --gray: #D8D8D8;
  --dark-gray: #666666;
  --medium-gray: #777777;
  --light-gray: #888888;
  --orange: #ED7D00;
  --black: #333333;
  --dark: #191919;
}

body, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  margin: 3px 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 3px 0;
}

.App {
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;
}

.publi-mobile-top {
  display: none;
}

.btn {
  cursor: pointer;
  transition: filter 0.3s;
}

.btn:hover {
  filter: brightness(120%);
}

.btn-dark {
  cursor: pointer;
  transition: filter 0.5s;
}

.btn-dark:hover {
  filter: brightness(95%);
}



/* ---  WEBSITE RESPONSIVENESS ATTRIBUTES  --- */
@media (min-width: 448px) {
  .right-content {
    padding-right: 20px;
    width: 195px;
  }

  .text-to-speech-mobile {
    display: none;
  }

  footer .newsletter-form input {
    width: 300px;
  }
}

@media (max-width: 448px) {
  nav {
    display: none;
  }

  .btn-whatsapp {
    display: none;
  }

  .separator-header {
    display: none;
  }

  .einstein-icon {
    display: none;
  }

  .text-to-speech {
    display: none;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 16px;
  }

  .publi-mobile-top {
    display: block;
  }

  h1 {
    font-size: 21px;
  }
}

@media (min-width: 800px) {
  .btn-nav-side {
    display: none;
  }

  .left-content {
    width: 535px;
  }

  .navbar-top {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
  }

  .header-container {
    height: 58px;
  }

  .main-container .head-container h1 {
    margin: 14px 0;
  }

  .publi-mobile-bottom {
    display: none;
  }

  .read-more-section {
    height: 320px;
  }

  .read-more-info {
    padding-left: 0;
    padding-top: 10px;
  }

  .read-more-section-box {
    flex-direction: column;
    justify-content: space-between;
    width: 235px;
  }

  .read-more-section-box img {
    width: 200px;
  }

  .read-more-section-all-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  footer .newsletter-form input {
    width: 575px;
  }
}

@media (max-width: 800px) {
  .btn-sections-header {
    display: none;
  }

  .btn-search-header {
    display: none;
  }
  
  .section-name-header {
    display: none;
  }

  .publi-desktop-sup {
    display: none;
  }

  .publi-desktop-bottom {
    display: none;
  }

  .sidebar-container {
    display: none;
  }
}