:root {
  --blue: #004071;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  margin: 3px 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 3px 0;
}

.App {
  min-height: 100vh;
}

@media (max-width: 400px) {
  body {
    font-size: 16px;
  }

  nav {
    display: none;
  }

  h1 {
    font-size: 21px;
  }
}


