:root {
  --blue: #004071;
}

body,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  margin: 3px 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 3px 0;
}

.App {
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;
}

.publi-mobile-top {
  display: none;
}

@media (min-width: 448px) {
  .right-content {
    padding-right: 20px;
    width: 195px;
  }
}

@media (max-width: 448px) {
  nav {
    display: none;
  }

  .btn-whatsapp {
    display: none;
  }

  .separator-header {
    display: none;
  }

  .einstein-icon {
    display: none;
  }

}

@media (max-width: 400px) {
  body {
    font-size: 16px;
  }

  .publi-mobile-top {
    display: block;
  }

  h1 {
    font-size: 21px;
  }
}

@media (min-width: 800px) {
  .btn-nav-side {
    display: none;
  }

  .left-content {
    width: 535px;
  }

  .navbar-sup {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
  }

  .header-container {
    height: 58px;
  }

  .main-container .head-container h1 {
    margin: 14px 0;
  }

  .publi-mobile-bottom {
    display: none;
  }

}

@media (max-width: 800px) {
  .btn-sections-header {
    display: none;
  }

  .btn-search-header {
    display: none;
  }
  
  .section-name-header {
    display: none;
  }

  .publi-desktop-sup {
    display: none;
  }

  .publi-desktop-bottom {
    display: none;
  }
}